__pycache__/
*.py[cod]
*$py.class
*.so

*.log
*.pot
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/
.env/

*.env
.env.*
!.env.example

db.sqlite3
db.sqlite3-journal

/staticfiles/
static/
media/
mediafiles/

**/docker-compose.override.yml
**/docker-compose.local.yml
**/docker-compose.dev.yml

*.pid
*.seed
*.pid.lock
.docker/
docker-compose.yml.override
docker-compose.override.yml
docker-compose*.backup.yml
Dockerfile.*

**/.dockerignore
**/.docker-cache/
**/.docker-volumes/
**/.docker-build/

.vscode/
.history/
.idea/
*.swp

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

.coverage
.tox/
.nox/
.coverage.*
htmlcov/
.pytest_cache/
test-results/
junit/
reports/


*.bak
*.tmp
*.old
